p, title, #name, #navbar-nav, .text-center, .links{
    font-family: 'Quicksand', sans-serif;
}

#imgdiv {
text-align: center;
}

#About-Me, .container, form {
    background-color: lightyellow;
    width: 100%;
    margin: 0;
}

.links {
    text-align: center;
}




